@charset "UTF-8";

a {
	text-decoration: none;
	width: 100px;
}

#articleForm_wrap {
	margin: 0 auto;
	max-width: 930px;
	padding: 50px;
	align-items: center;
	font-family: 'S-CoreDream-4Regular';
	font-size: 14px;
}

#articleForm_title_wrap {
	font-family: 'S-CoreDream-5Medium';
	font-size: 25px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 2.5rem;
}

td.thead {
	font-weight: 700;
	width: 10%;
	text-align: right;
	margin: 0;
	padding: 0;
	padding-right: 20px;
}

td.tbody {
	width: 90%;
}

td.thead, td.tbody {
	height: 50px;
	align-items: center;
}

form label {
	margin-bottom: 0;
}

input.form-control {
    height: 27px;
    padding: 4px 7px;
}

div.panel {
	margin-bottom: 0;
}

#btn_wrap {
	text-align: right;
}

button.btn-primary, button.btn-warning {
	background-color: #E9ECEF;
	border-color: #CED4DA;
	color: #555555;
	width: 100px;
}

button.btn-warning {
	margin-right: 12px;
}

button.btn-primary:hover {
	background-color: #FF8184;
	border-color: #FF8184;
}

button.btn-warning:hover {
	background-color: #FADE54;
	border-color: #FADE54;
	color: #555555;
	text-decoration: none;
}