@charset "UTF-8";

#articleForm_wrap {
	margin: 0 auto;
	margin-top: 80px;
	max-width: 900px;
	padding: 50px;
	align-items: center;
	font-family: 'S-CoreDream-4Regular';
	font-size: 14px;
}

#articleForm_title_wrap {
	font-family: 'S-CoreDream-5Medium';
	font-size: 25px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 2.5rem;
}

td.thead {
	font-weight: 700;
	width: 10%;
	text-align: right;
	margin: 0;
	padding: 0;
	padding-right: 20px;
}

td.tbody {
	width: 90%;
}

td.thead, td.tbody {
	height: 50px;
	align-items: center;
}

form label {
	margin-bottom: 0;
}
