#tc_wrap {
    max-width: 900px;
	margin:0 auto;
	margin-top: 60px;
	align-items: center;
	font-family: 'S-CoreDream-4Regular';
	font-size: 14px;
}

#tc_title_wrap {
	font-family: 'S-CoreDream-5Medium';
	font-size: 25px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 2.5rem;
}

table {
	text-align: center;
	align-items: center;
}

tr.tbody_row {
	height: 50px;
	line-height: 50px;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}

form {
	display: inline-block;
	font-size: 14px;
}

button.btn-success {
	height: 35px;
	background-color: transparent;
	color: #198754;
}

button.btn-danger {
	height: 35px;
	background-color: transparent;
	color: #dc3545;
}