@charset "UTF-8";

a {
	text-decoration: none;
}

#cd_wrap {
	max-width: 800px;
	margin: 0 auto;
	margin-top: 50px;
	align-items: center;
	font-family: 'S-CoreDream-4Regular';
	font-size: 14px;
}

#cd_title_wrap {
	font-family: 'S-CoreDream-5Medium';
	font-size: 25px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 2.5rem;
}

.table {
	border-color: #CED4DA;
}

.table-bordered {
	text-align: center;
}

td.left {
	width: 18%;
	background-color: #ededed;
	font-weight: 600;
}

td.right {
	width: 32%;
}

#apply_btn_wrap {
	text-align: center;
	margin-bottom: 1rem;
}

button.btn-primary {
	background-color: #E9ECEF;
	border-color: #CED4DA;
	color: #555555;
	width: 150px;
	height: 35px;
}

button.btn-primary:hover {
	background-color: #FF8184;
	border-color: #FF8184;
}

td.left2 {
	width: 20%;
	font-weight: 600;
}

td.right2 {
	width: 80%;
}

td.left2, td.right2 {
	height: 40px;
}

#curriculum {
	height: 500px;
}

#th_name {
	color: #595959;
}

#th_name:hover {
	text-decoration: underline;
}