@charset "UTF-8";
/* 공통 */
/* 폰트 */
@font-face {
	font-family: 'S-CoreDream-5Medium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'S-CoreDream-5Medium';
}
