@charset "UTF-8";

#l_wrap {
	width: 100%;
	max-width: 700px;
	align-items: center;
	margin: 0 auto;
	text-align: center;
	position: relative;
	padding-top: 130px;
}

.alert {
	font-family: 'S-CoreDream-4Regular';
	margin: 0;
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
}

#l_form_wrap {
	width: 500px;
	height: 400px;
	margin: 0 auto;
	border: 1px solid #ededed;
}

#l_title_wrap {
	margin: 0 auto;
	width: 150px;
}

#l_title {
	padding-top: 60px;
	font-size: 1.7rem;
	font-weight: 800;
	font-family: 'S-CoreDream-5Medium';
}

form#loginForm {
	margin: 0 auto;
	width: 250px;
	padding-top: 30px;
	font-family: 'S-CoreDream-4Regular';
}

input#login_email.form-control, input#login_pass.form-control {
	width: 250px;
	height: 35px;
	font-size: 14px;
}

#login_btn {
	margin-top: 1rem;
	margin-bottom: 2.5rem;
}

button.btn-primary  {
	background-color: #E9ECEF;
	border-color: #CED4DA;
	color: #555555;
	width: 250px;
	height: 35px;
}

button.btn-primary:hover {
	background-color: #FF8184;
	border-color: #FF8184;
}

#gotojoin {
	font-family: 'S-CoreDream-4Regular';
	font-size: 0.895rem;
	padding-bottom: 8px;
}

a.btn-outline-primary {
	border-color: #CED4DA;
	border: 0;
	color: #555555;
	width: 130px;
	height: 18px;
	padding: 0 12px;
	font-family: 'S-CoreDream-4Regular';
	font-size: 0.895rem;
}

a.btn-outline-primary:first-child {
	border-right: 1px solid #CED4DA;
	width: 115px;
}

a.btn-outline-primary:hover {
	background-color: transparent;
	color: #FF8184;
}