@charset "UTF-8";

h2 {
	text-align: center;
}

table {
	width: 50%;
}

#outter {
	display: block;
	width: 60%;
	margin: auto;
}

a {
	text-decoration: none;
}

.center {
	margin: auto;
	width: 50%;
	border: 1px solid black;
	padding: 10px;
}

.center2 {
	margin: auto;
	width: 30%;
	border: 1px solid black;
	padding: 10px;
}