@charset "UTF-8";

/* 프론트엔드 지침서 확인해주세요! */


/* 공통 */
a {
	text-decoration: none;
}

body {
	margin: 0;
}

#wrap {
	width: 100%;
	margin: 0 auto;
	max-height: 100%;
}

/* header는 글로벌 네비게이션바 부분 고정이므로 되도록 건드리지 말 것 */
#header {
	height: 97.844px;
	background-color: #ffffff;
}

/* 각 jsp파일이 보여지는 콘텐츠바디 부분 */
#contents {
	min-height: 800px;
	max-height: 100vh;
	margin: 0 auto;
}