@charset "UTF-8";

#thj_wrap {
	align-items: center;
	margin: 0 auto;
	max-width: 700px;
	border: 1px solid #ededed;
	margin-top: 80px;
	padding: 50px;
	font-family: 'S-CoreDream-4Regular';
	font-size: 14px;
}

#thj_title_wrap {
	margin-bottom: 2.5rem;
	text-align: center;
	font-family: 'S-CoreDream-3Light';
	font-size: 22px;
}

table {
	margin: 0 auto;
}

td.thead, td.tbody {
	height: 60px;
	align-items: center;
}

td.thead {
	width: 15%;
	padding-right: 10px;
	text-align: left;
	font-weight: 700;
}

td.tbody {
	width: 60%;
}

td.certi {
	font-size: 12px;
}

input.form-control, textarea.form-control {
	height: 32px;
    padding: 4px 10px;
	font-size: 14px;
}

textarea#introduction, textarea#description {
	resize: none;
	height: 120px;
}

#thjoin_btn {
	text-align: center;
	margin-top: 30px;
}

button.btn-primary {
	background-color: #E9ECEF;
	border-color: #CED4DA;
	color: #555555;
	width: 160px;
}

button.btn-primary:hover {
	background-color: #FF8184;
	border-color: #FF8184;
}

#thj_line {
	margin: 3.5rem 0;
}

/* sweetalert */
:root {
	--swal-btn-confirm: #FF8184;
	--swal-btn-confirm-hover: #FF8184;
}

.swal-text, .swal-title, .swal-footer {
	font-family: 'S-CoreDream-4Regular';
}

.swal-footer {
	text-align: center;
}

.swal-button, .swal-button--confirm {
	background-color: #E9ECEF;
	border: 1px solid #CED4DA;
	color: #555555;
}

.swal-button:not([disabled]):hover, .swal-button--confirm:not([disabled]):hover {
	background-color: var(--swal-btn-confirm-hover);
	border-color: #FF8184;
	color: #FFFFFF;
}