@charset "UTF-8";

a:link {
	color: red;
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	color: blue;
	text-decoration: underline;
}

#viewArticle_wrap {
	margin: 0 auto;
	margin-top: 80px;
	max-width: 800px;
	align-items: center;
	font-family: 'S-CoreDream-4Regular';
	font-size: 14px;
}

#viewArticle_title_wrap {
	font-family: 'S-CoreDream-5Medium';
	font-size: 25px;
	font-weight: 700;
	text-align: left;
	margin-bottom: 2.5rem;
}

#form1 {
	margin-bottom: 20px;
}

table {
	margin: 0 auto;
}

#a_title {
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	height: 50px;
}

td.left1, td.left2 {
	width: 10%;
}

td.right1 {
	width: 50%;
}

td.right2 {
	width: 90%;
}

.cdate {
	width: 20%;
	text-align: center;
	font-size: 10px;
	color: #818181;
}

td.right2 {
	height: 400px;
}

#r_title {
	font-weight: 600;
	font-size: 16px;
}

input.form-control {
	height: 35px;
	padding: 6px 10px;
	font-size: 14px;
}

input.form-control, textarea.form-control {
	height: 50px;
    padding: 4px 10px;
	font-size: 14px;
}

textarea#content {
	resize: none;
	height: 250px;
}

#list_article {
	text-align:left;
	height:10px;
	background-color: #FBAD38;
	
}


#comment_btn {
	text-align: center;
}

#btn_group_wrap {
	text-align: center;
}

.btn-group {
	text-align: center;
}

button.btn-primary, .btn-warning, .btn-light, .btn-secondary {
	background-color: #E9ECEF;
	border-color: #CED4DA;
	color: #555555;
	width: 160px;
}

button.btn-primary:hover {
	background-color: #FF8184;
	border-color: #FF8184;
}

#comment_line {
	margin: 3.5rem 0;
}


